<div class="cover-social">
            <br>
            <a href="http://twitter.com/mxsawyer" target="_blank" ><i class="fa fa-twitter"></i></a>
            <a href="http://mxcleod.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
            <a href="/rss" target="_blank"><i class="fa fa-rss"></i></a> 
</div>